body {
  padding-top: 2rem;
  background-color: hsl(0, 0%, 96%);
  height: 100vh;
}

.checked {
  text-decoration: line-through;
  color: hsl(0, 0%, 71%);
}

#cancelBtn, #confirmBtn, #okBtn {
  display: none;
}